.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 100%;
  background-color: #02015edb;
  border: solid 2px #2229f7ed;
  border-radius: 5px;
  margin-bottom: 25px;
}
.todo-container h1 {
  display: flex;
  align-self: flex-start;
  margin: 10px;
  font-weight: 800;
  color: #e7e7e7;
}
.todo-container p {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
  word-break: break-word;
  color: #b6b8dc;
}
.todo-container hr {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding-top: 10px;
  border-top: solid #0000ff 2px;
}

.btn {
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0 25px 0;
  font-weight: 600;
  font-size: 16px;
  height: 40%;
}
.done {
  background-color: #2abe2a;
  border: none;
}
.notDone {
  background-color: #ffffff;
  color: #008000;
  border-color: #008000;
}
.remove {
  background-color: #f5483c;
  border: none;
}
.edit {
  background-color: #1080ff;
  border: none;
}

@media screen and (min-width: 780px) {
  .btn-container {
    height: -webkit-fill-available;
    width: 100%;
    position: absolute;
    background-color: #030218f0;
    border-radius: 5px;
    opacity: 0;
    margin: 0;
    transition: 0.3s opacity;
  }
  .btn-container:hover {
    opacity: 100%;
  }

  .btn {
    width: 20%;
  }
}
