.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  min-height: 180px;
  background-color: #02015edb;
  border: solid 2px rgb(133, 133, 133);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
}
.todo-container h1 {
  display: flex;
  align-self: flex-start;
  margin: 10px;
  color: #8f92d6;
}
.todo-container p {
  text-align: center;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
  color: #e7e7e7;
}
.todo-container hr {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 20px 5px 0;
  font-weight: 600;
  font-size: 16px;
}
.done {
  background-color: #2abe2a;
  border: none;
}
.notDone {
  background-color: #ffffff;
  color: #008000;
  border-color: #008000;
}
.remove {
  background-color: #f5483c;
  border: none;
}
.edit {
  background-color: #1080ff;
  border: none;
}

@media screen and (min-width: 780px) {
  .btn {
    width: 27%;
  }
}
