.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-container,
.skill-container {
  margin: 20px 20px 0;
  padding: 0 20px 20px;
  color: rgb(202, 202, 202);
  font-weight: 700;
}
h2 {
  margin: 20px 0;
}

.about-container p {
  margin-top: 20px;
}

ul {
  text-align: left;
  margin: 20px;
  padding: 10px;
}
li {
  margin-top: 10px;
}
ul li::marker {
  color: rgb(89, 166, 255);
}
hr {
  border: rgb(89, 166, 255) 2px solid;
}

@media screen and (min-width: 540px) {
}
