.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.about-container,
.skill-container {
  margin: 20px 20px 0;
  padding: 0 20px 20px;
  color: #cacaca;
  font-weight: 700;
}
h2 {
  margin: 20px 0;
}

.about-container p {
  margin-top: 20px;
  opacity: 60%;
}

ul {
  text-align: left;
  margin: 20px;
  padding: 10px;
}
li {
  margin-top: 10px;
  opacity: 60%;
}
ul li::marker {
  color: #59a6ff;
}
hr {
  border: #59a6ff 2px solid;
}

@media screen and (min-width: 540px) {
}
