.addTodo {
  margin: 20px;
  padding: 20px;
  width: 90%;
  border-radius: 10px;
}
.addTodo .toHome {
  height: 30px;
}

.addTodo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #363636;
  padding: 5px;
}
.addTodo-container .date {
  position: absolute;
  font-size: 14px;
  right: -20px;
  top: -40px;
}
.addTodo-container h2 {
  text-align: center;
  color: #ffffffb8;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 34px;
}

.addTodo-container input {
  margin: 20px 15px 10px;
  background-color: #001e3894;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  color: #bdbdbd;
  border-color: #9e9e9e;
}

.addTodo-container textarea {
  padding: 5px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  background-color: #001e3894;
  color: #bdbdbd;
}
.addTodo-container a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: #313131;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}
.addTodo-container a:hover {
  background-color: white;
  color: #313131;
}

.btn-addTodo {
  width: 90%;
  margin: 20px auto;
  padding: 7px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 5px;
  background-color: #0084ffc4;
  border: #ffffff solid 1.5px;
  color: #ffffff;
}
.btn-addTodo:hover {
  background-color: white;
  color: #0084ff;
}

.addTodo-container--textarea:focus {
  border: none;
}

.link-appTodo {
  position: relative;
  background-color: #d4d4d4c4;
  color: white;
  max-width: 150px;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  line-height: 28px;
}

.noTodos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  color: #ff4444;
  border-radius: 15px;
}

@media screen and (min-width: 540px) {
  .addTodo {
    width: 80%;
  }
  .addTodo-container .date {
    right: -40px;
    font-size: 22px;
  }
}
