.home-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
}
.top-button {
  position: sticky;
  height: 40px;
  width: 40px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  text-decoration: none;
  top: 90%;
  right: 10px;
  z-index: 1;
  color: white;
  background-color: rgba(141, 141, 141, 0.295);
}
.fa-arrow-alt-circle-up {
  color: white;
  font-size: 28px;
}

@media screen and (min-width: 640px) {
  .home-container {
    flex-direction: row;
  }
}
