.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 0;
}

h1 {
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(202, 202, 202);
}
.projects-container h3 {
  font-size: 28px;
}

.projects-container a {
  width: 90%;
  margin: 20px 5px;
  padding: 20px;
  color: white;
  text-decoration: none;
  background: #263c5c1a;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  border: 1px solid rgba(27, 119, 255, 0.08);
  border-radius: 10px;
}

.projects-container img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.projects-container article {
  width: 80%;
  margin: 0 auto;
}
.main-courses-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-courses-container .button-slider--container {
  position: absolute;
  cursor: pointer;
  top: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 42px;
  color: #cbcbcb;
}
.slider-container {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 0 10px;
  height: 260px;
}
.course-slide {
  min-width: 240px;
  position: relative;
  scroll-snap-align: center;
}
.course-slide img {
  min-height: 100px;
}

@media screen and (min-width: 540px) {
  .projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-container a {
    width: 75%;
  }
  .projects-container .slider-container a {
    margin: auto;
  }
  .slider-container {
    height: 340px;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 826px) {
  .main-courses-container .button-slider--container {
    top: 200px;
  }
}
